// colors
$themeBlue: #006eb4;

$backgroundColor: #ffffff;

$fontFamily: 'Montserrat';
$fontLine: 1.25;

//font-weights
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;

// font-sizes
$fontXS: 0.875rem; // 14px
$fontS: 1rem; // 16px
$fontM: 1.125rem; // 18px
$fontL: 1.5rem; // 24px
$fontXL: 2rem; // 32px
$fontXXL: 3rem; // 48px

// distances
$distanceXXS: 0.25rem; // 4px
$distanceXS: 0.5rem; // 8px
$distanceS: 1rem; // 16px
$distanceM: 1.5rem; // 24x
$distanceL: 2rem; // 32px
$distanceXL: 3rem; // 48px
$distanceXXL: 4rem; // 64px

//  breakpoints
$screenXXS: 320px;
$screenXS: 375px;
$screenS: 576px;
$screenM: 768px;
$screenL: 992px;
$screenXL: 1440px;
$screenXXL: 1920px;
$screenXXXL: 2560px;
